<div class="container">
    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div>
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div>
            <label for="phoneNumber" class="form-label">Phone Number:</label>
            <input type="text" class="form-control" formControlName="phoneNumber">
        </div>
        <pre></pre>
        <div class="btn-container">
            <a href="#" class="btn btn-link">Already have an account?</a>
            <input type="submit" class="btn btn-primary" value="Register">
        </div>
    </form>
</div>