<div class="container">
    <h2>Reset Password</h2>
    <hr>
    <form class="form-group" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class=" form-elements">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-elements">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" formControlName="currentPassword">
        </div>
        <div class="form-elements">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" formControlName="newPassword">
        </div>
        <div class="form-elements">
            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" formControlName="confirmNewPassword">
        </div>
        <pre></pre>
        <div class="btn-container">
            <input type="button" class="btn btn-secondary" value="Cancel">
            <input type="submit" class="btn btn-primary" value="Reset Password">
        </div>
    </form>
</div>