<div class="container">
    <h2>Reset Password</h2>
    <div>
        <label for="currentPassword" class="form-label">Current Password</label>
        <input type="password" class="form-control" id="currentPassword">
    </div>
    <div>
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPassword">
    </div>
    <div>
        <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmNewPassword">
    </div>
</div>