<div class="container">
    <h2>Reset Password</h2>
    <hr>
    <div class="form-elements">
        <label for="currentPassword" class="form-label">Current Password</label>
        <input type="password" class="form-control" id="currentPassword">
    </div>
    <div class="form-elements">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPassword">
    </div>
    <div class="form-elements">
        <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmNewPassword">
    </div>
    <pre></pre>
    <div class="btn-container">
        <input type="button" class="btn btn-secondary" value="Cancel">
        <input type="button" class="btn btn-primary" value="Reset Password">
    </div>
</div>