<div class="container">
    <form class="form-group" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="form-elements">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="userId">
        </div>
        <div class="form-elements">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <pre></pre>
        <div class="form-checkbox-and-label">
            <div><input type="checkbox" class="form-check-input" formControlName="rememberMe"></div>
            <div><label for="rememberMe" class="form-check-label">Remember Me</label></div>
        </div>
        <div class="form-elements">
            <a routerLink="/reset-password" class="btn btn-link">Forgot Password?</a>
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form>
</div>