div.container {
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 460px;
  border-radius: 15px;
}

div.tab-pane {
  border-radius: 0 0 8px 8px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 20px 10px;
}

ul.nav.nav-tabs {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

ul.nav.nav-tabs li {
  flex-grow: 1;
}
